<a href="https://colab.research.google.com/github/sangho0701/colab/blob/main/Lession5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

5장 예제 if문

In [ ]:
num = 99
if num < 100 :
  print("100보다 작습니다.")

100보다 작습니다.

In [ ]:
num1 = int(input("숫자를 입력해주세요 : "))

if (num1 % 2) == 1 :
  print(num1, "는 홀수입니다 ")
if (num1 % 2) == 0 :
  print(num1, "는 짝수입니다 ")

숫자를 입력해주세요 : 20
20 는 짝수입니다

In [5]:
num1 = int(input("숫자를 입력 : "))

if num1 > 100 :
  if num1 < 1000 :
      print("100보다 크고 1000보다 작군요.")
  else :     
    print("와~ 1000보다 크군요.")
else :
  print("음~ 100보다 작군요.")

숫자를 입력 : 150
100보다 크고 1000보다 작군요.

In [13]:
num1 = int(input("학점을 입력해주세요 : "))

if num1 >= 90 :
  print("A 학점입니다.")
else :
  if num1 >= 80 :
    print("B 학점입니다")
  else :
    if num1 >= 70 :
      print("C 학점입니다.")
    else :
      if num1 >= 60 :
        print("D 학점입니다.")
      else :
        print("F 학점입니다")

학점을 입력해주세요 : 77
C 학점입니다.

In [20]:
num1 = int(input("학점을 입력해주세요 : "))

if num1 >= 90 :
  print("A 학점입니다.")
elif num1 >= 80 :
  print("B 학점입니다.")
elif num1 >= 70 :
  print("C 학점입니다.")
elif num1 >= 60 :
  print("D 학점입니다.")
else :
  print("F 학점입니다.")

학점을 입력해주세요 : 97
A 학점입니다.

In [25]:
num1 = int(input("나이를 입력 : "))

if num1 <= 18 :
  print("집에 갈 시간이네요. ^^")
else :
  print("즐거운 시간 되세요. ^^")
print("협조감사합니다")

나이를 입력 : 16
집에 갈 시간이네요. ^^
협조감사합니다

In [39]:
fact = 1
friend_num = 5

for i in range(1, friend_num + 1, 1) :
  fact = fact + i

print("A, B, C, D, E 학생들을 순서대로 세우는 경우의 수", fact)

A, B, C, D, E 학생들을 순서대로 세우는 경우의 수 16